{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "no-console": "off",
    "prefer-const": "off",
    "no-var": "off",
    "no-undef": "off",
    "no-param-reassign": "off",
    "vars-on-top": "off",
    "no-caller": "off",
    "no-restricted-properties": "off",
    "func-names": "off",
    "semi": "error",
    "no-unused-vars": "off",
    "no-unused-expressions": "warn",
    "array-bracket-spacing": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "prefer-rest-params": "warn",
    "no-nested-ternary": "warn",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "import/no-self-import": "off"
  }
}